.sidebar-container {
    width: 5.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-right: solid 1px rgba(0, 0, 0, 0.355) ;

    .sidebar {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: fit-content;
        justify-content: space-between;
        align-items: center;
        padding: 2.5rem 1rem;

        .sidebar__logo {
            margin-bottom: 2rem;
        }

        .sidebar__redirect {
            // height: 68vh;
            height: 28rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 13vh;
            li{
                height: 1.1em;
                width: fit-content;
                svg{
                    height: 1.8em;
                    width: 1.8em;
                }
            }
        }

        .sidebar__menu-container {
            margin-bottom: 3vh;

        }
    }
}