.profile-page {
    width: 100%;
    height: 100vh;
    position: relative;
}

.profile {
    width: 90%;
    height: 94%;
    padding: 3% 5%;

    .profile__header {
        width: 100%;
        height: 25%;
        display: flex;

        .profile__image-container {
            width: 25%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .profile__image {
                width: 5rem;
                height: 5rem;
                position: relative;

                img {
                    border-radius: 50%;
                }
            }
        }

        .profile__header-text {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

    }


    .sharePhoto-container {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70%;


        .sharePhoto {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: fit-content;
            padding: 5rem;

            .cameraIcon {
                width: 5rem;
                height: 5rem;
                margin: 1rem;
                border-radius: 50%;
                border: 2px solid black;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    width: 3rem;
                    height: 3rem;
                }
            }

            .sharePhoto__text {
                width: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h3 {
                    font-size: 1.3rem;
                }

                svg {
                    width: 1.8rem;
                    height: 1.8rem;
                }
            }
        }
    }



}